* {
  font-family: "Manrope", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  border: 0.7px solid #dce2ea;
  margin-bottom: 1.063rem;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

.loading {
  font-size: 1.2rem;
  color: green;
  text-align: center;
  margin-top: 4rem;
}

.error {
  font-size: 1.2rem;
  color: #e65b0a;
  text-align: center;
  margin-top: 4rem;
}

.company_info {
  border: 1px solid #dde1e3;
  border-radius: 8px;
  margin: 1rem;
  padding: 2.5rem 1rem;
}

.company_info div {
  margin-bottom: 1.5rem;
}

.company_info h1 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 37px;
  letter-spacing: -0.2px;
  color: #1a1a1a;
  margin-bottom: 3rem;
}

.company_info h1 span {
  background: #fee7ea;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 33px;
  letter-spacing: -0.5px;
  color: #1cc578;
  text-transform: uppercase;
  padding: 1.5rem;
  border-radius: 100%;
}

.company_info span {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 19px;
  color: #858585;
  margin-right: 1rem;
}

.company_info h2 {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 25px;
  letter-spacing: -0.3px;
  color: #1a1a1a;
}

.notification {
  background: #f7f7f7;
  border-radius: 12px;
  padding: 2rem 1rem;
  margin: 1rem;
}

.comingsoon {
  color: #e60a2b;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 22px;
  background: #feebee;
  border-radius: 30px;
  padding: 0.375rem 1rem;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}

.comingsoon_img {
  width: 100%;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.notification h1 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 37px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #1a1a1a;
  margin-bottom: 0.7rem;
}

.notification p:last-child {
  font-weight: 400;
  font-size: 0.9.5rem;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #595959;
}

@media screen and (min-width: 767px) {
  main {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .company_info {
    border: 1px solid #dde1e3;
    border-radius: 8px;
    margin: 0 3.75rem;
    padding: 3.688rem 3.75rem 0;
    margin-bottom: 2rem;
  }

  .company_info h1 {
    font-size: 1.5rem;
  }

  .company_info h1 span {
    font-size: 1.5rem;
  }

  .company_info h2 {
    font-size: 1rem;
  }

  .notification {
    padding: 2rem 1rem;
    margin-right: 2rem;
  }

  .notification h1 {
    font-size: 1.5rem;
  }
}
